* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {

  color: brown;
  font-family: Garamond, Garamond, serif;
}

/* Header styling*/
header {
  padding: 20px 35px;
  background-color: #032e33;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #39a6b2;
  margin: 0;
  font-style: bold;
}

.header-div {
  position: relative;
  top: -20px;
  right: 40px;
  width: 350px;
  height: 65px;
  border: 3px solid blanchedalmond;
  justify-items: center;
  background-color: blanchedalmond;
}

header a {
  color: #39a6b2;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* Hero styling*/
.hero {
  padding: 120px;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero * {
  flex: 1;
}

.hero-div-invisible {
  flex-grow: 7;
}

.hero-div {
  position: relative;
  justify-content: right;
  border: 3px solid blanchedalmond;
  background-color: blanchedalmond;
  flex-grow: 3;
}

/* Main row styling*/
.sectionFlex {
  display: flex;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;
}

.sectionFlex * {
  flex: 1;
}

.row-content {
  border-left: solid;
  color: #39a6b2;
  min-height: 20px;
  margin: 0 0 0 15px;
  padding-left: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 8;
  font-size: larger;
}

.row-title {
  width: 12.5%;
  font-size: 40px;
  text-align: right;
  padding-right: 2.5px;
  flex-grow: 2;
  min-width: 100px;
}

/* Work row styling*/
.work-row-content {
  min-height: 150px;
  margin: 0 2.5px 0 15px;
  padding-left: 10px;
  border-style: solid;
  border: 2px;
  background-color: blanchedalmond;
  padding-top: 10px;
}

.work-div {
  position: relative;
  top: 30px;
  right: 10px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.work-small-row-content {
  min-height: 150px;
  margin: 0 0 0 15px;
  padding-left: 10px;
  border-style: solid;
  border: 2px;
  background-color: blanchedalmond;
}

.sectionFlexFooter {
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-grow: 1;
  justify-content: space-between;
}

.sectionFlexFooterContent {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: larger;
}


@media screen and (max-width: 1200px) {
  .sectionFlexFooter {
    flex-wrap: wrap;
    list-style: none;
  }

  .sectionFlexFooterContent {
    width: 250 px;
  }

  .contact-links {
    display: flex;
  }
}


@media screen and (max-width: 900px) {

  .contact-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .section p {
    width: 100%;
  }
}

/* Sports Tracker styling*/
.sports-tracker {
  background-image: url("../images/Sports-Tracker.png");
  background-position: center;
  background-size: cover;

}

/* Run Buddy styling*/
.run-buddy {
  background-image: url("../images/Run\ Buddy.jpg");
  background-position: center;
  background-size: cover;

}

  a:hover {
    background-color: orange;
  }
  
  .flashaholic {
    background-image: url("../images/Flashaholic\ Website.png");
    background-position: center;
    background-size: cover;
  
  }