* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {

  color: #a12c2c;
  font-family: Garamond, Garamond, san-serif;
}

header {
  padding: 20px 35px;
  background-color: #032e33;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #39a6b2;
  margin: 0;
  font-style: bold;
}

.header-div {
  position: relative;
  top: -20px;
  right: 40px;
  width: 350px;
  height: 65px;
  border: 3px solid bisque;
  justify-items: center;
  background-color: bisque;
}

header a {
  color: #39a6b2;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.hero {
  padding: 120px;
  background-image: url("../images/hero-bg.jpg");
  background-size: 72%;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.hero * {
  flex: 1;
}

.hero-div-invisible {
  flex-grow: 7;
}

.hero-div {
  position: relative;
  justify-content: right;
  height: 75px;
  border: 3px solid bisque;
  background-color: bisque;
  flex-grow: 3;
}

.sectionFlex {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sectionFlex * {
  flex: 1;
}

.row-content {
  border-left: solid;
  color: #39a6b2;
  min-height: 20px;
  margin: 0 0 0 15px;
  padding-left: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 8;
}

.row-title {
  width: 12.5%;
  font-size: 40px;
  text-align: right;
  padding-right: 2.5px;
  flex-grow: 2;
  min-width: 100px;
}


.work-row-content {
  min-height: 150px;
  margin: 0 2.5px 0 15px;
  padding-left: 10px;
  border-style: solid;
  border: 2px;
  background-color: blue;
  padding-top: 10px;
}

.work-div {
  position: relative;
  top: 30px;
  right: 10px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.work-small-row-content {
  min-height: 150px;
  margin: 0 0 0 15px;
  padding-left: 10px;
  border-style: solid;
  border: 2px;
  background-color: blue;
}

.sectionFlexFooter {
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-grow: 1;
}

.sectionFlexFooterContent {

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}